@import "icon-font/iconfont.css";
a {
  text-decoration: none;
}
* {
  outline: none;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.w100p {
  width: 100%;
}
.h100p {
  height: 100%;
}
.wh100p {
  width: 100%;
  height: 100%;
}
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex-box {
  display: flex;
}
.flex-box.flex-column {
  flex-direction: column;
}
.flex-box.flex-center {
  align-content: center;
  align-items: center;
}
.flex-box.flex-center-j {
  justify-content: center;
  justify-items: center;
}
.flex-box.flex-center-all {
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.flex-box.same-all > * {
  width: 0;
  flex-grow: 1;
}
.flex-grow {
  flex-grow: 1;
}
.flex-shk-off {
  flex-shrink: 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.cur-p {
  cursor: pointer;
}
.trans {
  transition: all 0.4s ease;
}
.overflow-h {
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.box-shadow {
  box-shadow: 0 1px 5px rgba(200, 200, 210, 0.5);
}
.box-card {
  background: #ffffff;
}
.border-box {
  box-sizing: border-box;
}
.box-card-shadow {
  box-shadow: 0 1px 5px rgba(200, 200, 210, 0.5) !important;
  background: #ffffff !important;
}
.font-b {
  font-weight: bold;
}
.pa-lg {
  padding: 30px;
}
.pl-lg {
  padding-left: 30px;
}
.pr-lg {
  padding-right: 30px;
}
.plr-lg {
  padding-right: 30px;
  padding-left: 30px;
}
.pt-lg {
  padding-top: 30px;
}
.pb-lg {
  padding-bottom: 30px;
}
.ptb-lg {
  padding-bottom: 30px;
  padding-top: 30px;
}
.ma-lg {
  margin: 30px;
}
.ml-lg {
  margin-left: 30px;
}
.mr-lg {
  margin-right: 30px;
}
.mlr-lg {
  margin-right: 30px;
  margin-left: 30px;
}
.mt-lg {
  margin-top: 30px;
}
.mb-lg {
  margin-bottom: 30px;
}
.mtb-lg {
  margin-bottom: 30px;
  margin-top: 30px;
}
.pa-md {
  padding: 20px;
}
.pl-md {
  padding-left: 20px;
}
.pr-md {
  padding-right: 20px;
}
.plr-md {
  padding-right: 20px;
  padding-left: 20px;
}
.pt-md {
  padding-top: 20px;
}
.pb-md {
  padding-bottom: 20px;
}
.ptb-md {
  padding-bottom: 20px;
  padding-top: 20px;
}
.ma-md {
  margin: 20px;
}
.ml-md {
  margin-left: 20px;
}
.mr-md {
  margin-right: 20px;
}
.mlr-md {
  margin-right: 20px;
  margin-left: 20px;
}
.mt-md {
  margin-top: 20px;
}
.mb-md {
  margin-bottom: 20px;
}
.mtb-md {
  margin-bottom: 20px;
  margin-top: 20px;
}
.pa-sm {
  padding: 10px;
}
.pl-sm {
  padding-left: 10px;
}
.pr-sm {
  padding-right: 10px;
}
.plr-sm {
  padding-right: 10px;
  padding-left: 10px;
}
.pt-sm {
  padding-top: 10px;
}
.pb-sm {
  padding-bottom: 10px;
}
.ptb-sm {
  padding-bottom: 10px;
  padding-top: 10px;
}
.ma-sm {
  margin: 10px;
}
.ml-sm {
  margin-left: 10px;
}
.mr-sm {
  margin-right: 10px;
}
.mlr-sm {
  margin-right: 10px;
  margin-left: 10px;
}
.mt-sm {
  margin-top: 10px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mtb-sm {
  margin-bottom: 10px;
  margin-top: 10px;
}
.pa-xs {
  padding: 5px;
}
.pl-xs {
  padding-left: 5px;
}
.pr-xs {
  padding-right: 5px;
}
.plr-xs {
  padding-right: 5px;
  padding-left: 5px;
}
.pt-xs {
  padding-top: 5px;
}
.pb-xs {
  padding-bottom: 5px;
}
.ptb-xs {
  padding-bottom: 5px;
  padding-top: 5px;
}
.ma-xs {
  margin: 5px;
}
.ml-xs {
  margin-left: 5px;
}
.mr-xs {
  margin-right: 5px;
}
.mlr-xs {
  margin-right: 5px;
  margin-left: 5px;
}
.mt-xs {
  margin-top: 5px;
}
.mb-xs {
  margin-bottom: 5px;
}
.mtb-xs {
  margin-bottom: 5px;
  margin-top: 5px;
}
.pa-xxs {
  padding: 3px;
}
.pl-xxs {
  padding-left: 3px;
}
.pr-xxs {
  padding-right: 3px;
}
.plr-xxs {
  padding-right: 3px;
  padding-left: 3px;
}
.pt-xxs {
  padding-top: 3px;
}
.pb-xxs {
  padding-bottom: 3px;
}
.ptb-xxs {
  padding-bottom: 3px;
  padding-top: 3px;
}
.ma-xxs {
  margin: 3px;
}
.ml-xxs {
  margin-left: 3px;
}
.mr-xxs {
  margin-right: 3px;
}
.mlr-xxs {
  margin-right: 3px;
  margin-left: 3px;
}
.mt-xxs {
  margin-top: 3px;
}
.mb-xxs {
  margin-bottom: 3px;
}
.mtb-xxs {
  margin-bottom: 3px;
  margin-top: 3px;
}
.pa-1px {
  padding: 1px;
}
.pl-1px {
  padding-left: 1px;
}
.pr-1px {
  padding-right: 1px;
}
.plr-1px {
  padding-right: 1px;
  padding-left: 1px;
}
.pt-1px {
  padding-top: 1px;
}
.pb-1px {
  padding-bottom: 1px;
}
.ptb-1px {
  padding-bottom: 1px;
  padding-top: 1px;
}
.ma-1px {
  margin: 1px;
}
.ml-1px {
  margin-left: 1px;
}
.mr-1px {
  margin-right: 1px;
}
.mlr-1px {
  margin-right: 1px;
  margin-left: 1px;
}
.mt-1px {
  margin-top: 1px;
}
.mb-1px {
  margin-bottom: 1px;
}
.mtb-1px {
  margin-bottom: 1px;
  margin-top: 1px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.font-xs {
  font-size: 12px;
}
.font-sm {
  font-size: 13px;
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-quick-enter-active,
.fade-quick-leave-active {
  transition: 0.3s;
}
.fade-quick-enter,
.fade-quick-leave-to {
  opacity: 0;
}
.fade-top-enter-active,
.fade-top-leave-active {
  transition: 0.4s;
}
.fade-top-enter,
.fade-top-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-right-enter-active,
.fade-right-leave-active {
  transition: 0.4s;
}
.fade-right-enter,
.fade-right-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
.fade-right-quick-enter-active,
.fade-right-quick-leave-active {
  transition: 0.2s;
}
.fade-right-quick-enter,
.fade-right-quick-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
}
* {
  padding: 0;
  margin: 0;
  outline: none !important;
}
.layout-middle-tab-bar {
  height: 31px !important;
}
.layout-middle-tab-bar .el-tabs__header {
  padding-bottom: 0;
  padding-left: 10px;
  margin-bottom: 0;
  height: 30px !important;
  padding-right: 10px;
}
.layout-middle-tab-bar .el-tabs__nav-prev,
.layout-middle-tab-bar .el-tabs__nav-next {
  height: 30px !important;
  line-height: 30px !important;
}
.layout-middle-tab-bar .el-tabs__nav {
  height: 31px !important;
  border-radius: 0 !important;
  top: 1px;
  background-color: #fff;
}
.layout-middle-tab-bar .el-tabs__nav .el-tabs__item {
  height: 29px !important;
  padding: 0 10px !important;
  line-height: 29px !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #E4E7ED !important;
}
.layout-middle-tab-bar .el-tabs__nav .el-tabs__item.is-active {
  border-bottom: 1px solid #ffffff !important;
  position: relative;
}
.layout-left-menu.el-menu,
.el-menu--popup.el-menu {
  background-color: transparent;
  border: none;
  width: 100% !important;
}
.layout-left-menu.el-menu.el-menu--collapse .el-submenu.is-active > .el-submenu__title,
.el-menu--popup.el-menu.el-menu--collapse .el-submenu.is-active > .el-submenu__title {
  color: #fff !important;
  background-color: transparent !important;
}
.layout-left-menu.el-menu.el-menu--collapse .el-submenu.is-active > .el-submenu__title i.iconfont,
.el-menu--popup.el-menu.el-menu--collapse .el-submenu.is-active > .el-submenu__title i.iconfont {
  color: #fff !important;
}
.layout-left-menu.el-menu .el-menu--inline,
.el-menu--popup.el-menu .el-menu--inline {
  background-color: transparent;
}
.layout-left-menu.el-menu.el-menu--collapse .el-submenu__icon-arrow,
.el-menu--popup.el-menu.el-menu--collapse .el-submenu__icon-arrow {
  display: none;
}
.layout-left-menu.el-menu.el-menu--collapse .el-menu-item,
.el-menu--popup.el-menu.el-menu--collapse .el-menu-item,
.layout-left-menu.el-menu.el-menu--collapse .el-submenu__title,
.el-menu--popup.el-menu.el-menu--collapse .el-submenu__title {
  margin: 3px 0;
  border-radius: 0;
}
.layout-left-menu.el-menu.el-menu--collapse > div > .el-submenu > .el-submenu__title > span,
.el-menu--popup.el-menu.el-menu--collapse > div > .el-submenu > .el-submenu__title > span {
  display: none;
}
.layout-left-menu.el-menu .el-menu-item,
.el-menu--popup.el-menu .el-menu-item,
.layout-left-menu.el-menu .el-submenu__title,
.el-menu--popup.el-menu .el-submenu__title {
  color: #fff;
  background-color: transparent;
  height: 50px;
  line-height: 50px;
  margin: 3px 10px;
  border-radius: 5px;
}
.layout-left-menu.el-menu .el-menu-item .el-submenu__icon-arrow,
.el-menu--popup.el-menu .el-menu-item .el-submenu__icon-arrow,
.layout-left-menu.el-menu .el-submenu__title .el-submenu__icon-arrow,
.el-menu--popup.el-menu .el-submenu__title .el-submenu__icon-arrow {
  color: #fff;
}
.layout-left-menu.el-menu .el-menu-item.is-active,
.el-menu--popup.el-menu .el-menu-item.is-active,
.layout-left-menu.el-menu .el-submenu__title.is-active,
.el-menu--popup.el-menu .el-submenu__title.is-active {
  color: #fff !important;
  background-color: #177BBB !important;
}
.layout-left-menu.el-menu .el-menu-item.is-active i.iconfont,
.el-menu--popup.el-menu .el-menu-item.is-active i.iconfont,
.layout-left-menu.el-menu .el-submenu__title.is-active i.iconfont,
.el-menu--popup.el-menu .el-submenu__title.is-active i.iconfont {
  color: #fff !important;
}
.layout-left-menu.el-menu .el-menu-item.is-active .el-submenu__icon-arrow,
.el-menu--popup.el-menu .el-menu-item.is-active .el-submenu__icon-arrow,
.layout-left-menu.el-menu .el-submenu__title.is-active .el-submenu__icon-arrow,
.el-menu--popup.el-menu .el-submenu__title.is-active .el-submenu__icon-arrow {
  color: #fff;
}
.layout-left-menu.el-menu .el-menu-item:hover,
.el-menu--popup.el-menu .el-menu-item:hover,
.layout-left-menu.el-menu .el-submenu__title:hover,
.el-menu--popup.el-menu .el-submenu__title:hover {
  color: #fff;
  background-color: rgba(23, 123, 187, 0.7);
}
.layout-left-menu.el-menu .el-menu-item:hover .el-submenu__icon-arrow,
.el-menu--popup.el-menu .el-menu-item:hover .el-submenu__icon-arrow,
.layout-left-menu.el-menu .el-submenu__title:hover .el-submenu__icon-arrow,
.el-menu--popup.el-menu .el-submenu__title:hover .el-submenu__icon-arrow {
  color: #fff;
}
.layout-left-menu.el-menu .el-menu-item:hover i.iconfont,
.el-menu--popup.el-menu .el-menu-item:hover i.iconfont,
.layout-left-menu.el-menu .el-submenu__title:hover i.iconfont,
.el-menu--popup.el-menu .el-submenu__title:hover i.iconfont {
  color: #fff !important;
}
.layout-left-menu.el-menu .el-menu-item i.iconfont,
.el-menu--popup.el-menu .el-menu-item i.iconfont,
.layout-left-menu.el-menu .el-submenu__title i.iconfont,
.el-menu--popup.el-menu .el-submenu__title i.iconfont {
  margin-right: 5px;
  font-size: 1.2em;
  color: #fff;
}
.happy-scroll {
  width: 100% !important;
}
.happy-scroll .happy-scroll-container {
  width: 100% !important;
  -ms-scroll-chaining: chained;
  -ms-content-zooming: zoom;
  -ms-scroll-rails: none;
  -ms-content-zoom-limit-min: 100%;
  -ms-content-zoom-limit-max: 500%;
  -ms-scroll-snap-type: proximity;
  -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
  -ms-overflow-style: none;
}
.happy-scroll .happy-scroll-container .happy-scroll-content {
  display: block !important;
  padding-bottom: 50px;
}
.el-button:not(.is-circle) {
  border-radius: 0 !important;
}
.el-button:not(.is-circle) i.iconfont {
  padding-right: 5px;
}
.table-row-operation > i {
  cursor: pointer;
}
.table-row-operation > i:hover {
  opacity: 0.7;
}
.table-row-operation > i:not(:first-of-type) {
  margin-left: 5px;
}
.el-input {
  padding-top: 0 !important;
  border-radius: 0 !important;
}
.el-input input {
  border-radius: 0 !important;
}
.el-input .el-input-group__append,
.el-input .el-input-group__prepend {
  border-radius: 0;
}
.el-textarea {
  border-radius: 0;
}
.el-textarea > textarea {
  border-radius: 0;
  padding: 3px 5px;
}
.el-input.el-input--mini:not(.el-date-editor):not(.el-input--prefix):not(.el-input--suffix) > input {
  padding: 0 5px;
}
.el-input.el-input--mini:not(.el-input--prefix) > input {
  padding-left: 5px;
}
.el-input.el-input--mini:not(.el-input--suffix) > input {
  padding-right: 5px;
}
.image-code.el-input .el-input-group__append {
  padding: 0;
  background: #ffffff;
}
.el-message-box.ezm-confirm {
  margin-top: 20vh !important;
  vertical-align: top;
  border-radius: 0;
}
.filter-container {
  font-size: 12px;
}
.vxe-cell--sort {
  top: -1px;
}
.vxe-filter--btn {
  top: -1px;
}
.vxe-input,
.vxe-input--inner,
.vxe-pager--goto {
  border-radius: 0 !important;
}
.vxe-cell .vxe-edit-icon {
  top: -1px;
}
.vxe-cell,
.vxe-cell.c--tooltip {
  padding: 0 5px !important;
}
.vxe-loading {
  background-color: rgba(255, 255, 255, 0.5);
}
.vxe-loading .vxe-loading--spinner:before {
  font-size: 12px;
  height: 20px;
  width: 20px;
}
.vxe-loading .vxe-loading--spinner:after {
  height: 20px;
  width: 20px;
}
.vxe-tool-btn {
  margin-left: 10px !important;
  background-color: #fff !important;
  border-color: #DCDFE6 !important;
  padding: 7px 7px !important;
}
.flex-box.flex-column > .ezm-table.flex-grow,
.ezm-page-container > .ezm-table.flex-grow {
  height: 0 !important;
}
.filter-field-container {
  display: flex;
  flex-wrap: wrap;
}
.filter-field-container.flex-column {
  flex-direction: column;
}
.filter-field-container.flex-center {
  align-content: center;
  align-items: center;
}
.filter-field-container.flex-center-j {
  justify-content: center;
  justify-items: center;
}
.filter-field-container.flex-center-all {
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.filter-field-container.same-all > * {
  width: 0;
  flex-grow: 1;
}
.filter-field-container > * {
  flex-shrink: 0;
}
.ezm-edit-form {
  font-size: 12px;
}
.ezm-edit-form .edit-form-col {
  min-height: 62px;
}
.ezm-edit-form .edit-form-col .el-form-item {
  margin-bottom: 13px;
}
.ezm-edit-form .edit-form-col .el-form-item__label {
  font-size: 12px !important;
  line-height: 1.5;
  padding-bottom: 0;
}
.ezm-edit-form .edit-form-col .el-input {
  padding-top: 1px !important;
  margin: 0;
}
.el-cascader.el-cascader--mini input.el-input__inner {
  height: 28px !important;
}
.el-tag {
  border-radius: 0 !important;
}
.ezm-window > .title-bar .button-left-container > .el-button-group {
  margin-left: 1px;
}
.ezm-window > .title-bar .button-left-container > .el-button:not(:first-of-type) {
  margin-left: 1px;
}
.vxe-modal--wrapper.type--modal .vxe-modal--box {
  border-radius: 0 !important;
}
.vxe-modal--wrapper.type--modal .vxe-modal--box .vxe-modal--body {
  padding: 0;
}
.vxe-modal--wrapper.type--modal .vxe-modal--box .vxe-modal--body .vxe-modal--content {
  padding: 10px;
  overflow: auto;
}
.vxe-modal--wrapper.type--modal .vxe-modal--box .vxe-modal--header {
  height: 40px;
  line-height: 40px;
  padding: 0 10px !important;
}
.scroll-y-thin {
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll-y-thin::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.scroll-y-thin::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.6);
  border-radius: 3px;
}
.scroll-y-thin::-webkit-scrollbar-corner {
  background-color: transparent;
  height: 0;
}
.scroll-xy-thin {
  overflow: auto;
}
.scroll-xy-thin::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.scroll-xy-thin::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.6);
  border-radius: 3px;
}
.scroll-xy-thin::-webkit-scrollbar-corner {
  background-color: transparent;
  height: 0;
}
.ezm-page-container {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
}
.ezm-edit-dialog > .vxe-modal--wrapper {
  background-color: rgba(255, 255, 255, 0.3);
}
.ezm-edit-dialog > .vxe-modal--wrapper > .vxe-modal--box > .vxe-modal--header {
  overflow: visible !important;
  height: 0 !important;
  background-color: #fff;
  border: none;
}
.ezm-edit-dialog > .vxe-modal--wrapper.is--visible > .vxe-modal--box {
  transition: all ease 0.4s;
}
.ezm-edit-dialog > .vxe-modal--wrapper.is--active:not(.is--visible) > .vxe-modal--box {
  transform: translateY(-10px);
  opacity: 0;
}
.ezm-edit-dialog .vxe-modal--content {
  padding: 1px !important;
}
.el-select-dropdown__item {
  font-size: 12px !important;
  height: 25px !important;
  line-height: 25px !important;
  padding: 0 10px !important;
}
.el-select__input {
  margin-left: 5px !important;
}
.layout-top-breadcrumb .el-breadcrumb {
  font-size: 12px;
}
.layout-top-breadcrumb .el-breadcrumb .el-breadcrumb__separator {
  margin: 0 3px;
}
.layout-top-search-page input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
/*# sourceMappingURL=index.css.map */